@font-face {
    font-family: "iconfont"; /* Project id 4383173 */
    /* Color fonts */
    src: 
         url('//at.alicdn.com/t/c/font_4383173_p4sle26s5ka.woff2?t=1714381094995') format('woff2'),
         url('//at.alicdn.com/t/c/font_4383173_p4sle26s5ka.woff?t=1714381094995') format('woff'),
         url('//at.alicdn.com/t/c/font_4383173_p4sle26s5ka.ttf?t=1714381094995') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-more:before {
    content: "\e6ad";
  }
  
  .icon-video-camera:before {
    content: "\e762";
  }
  
  .icon-html:before {
    content: "\e64f";
  }
  
  .icon-JS:before {
    content: "\e68d";
  }
  
  .icon-css:before {
    content: "\e6e1";
  }
  
  .icon-exe:before {
    content: "\e6e2";
  }
  
  .icon-doc:before {
    content: "\e6e3";
  }
  
  .icon-mp3:before {
    content: "\e6e6";
  }
  
  .icon-pdf:before {
    content: "\e6e7";
  }
  
  .icon-mp4:before {
    content: "\e6e8";
  }
  
  .icon-ppt:before {
    content: "\e6ea";
  }
  
  .icon-psd:before {
    content: "\e6eb";
  }
  
  .icon-txt:before {
    content: "\e6ed";
  }
  
  .icon-xls:before {
    content: "\e6ee";
  }
  
  .icon-zip:before {
    content: "\e620";
  }
  
  .icon-arrow:before {
    content: "\e619";
  }
  
  .icon-edit:before {
    content: "\e66e";
  }
  
  .icon-kongjianpu:before {
    content: "\e632";
  }
  
  .icon-delete:before {
    content: "\e622";
  }
  
  .icon-xiangji2:before {
    content: "\e780";
  }
  
  .icon-a-bianzu2:before {
    content: "\e602";
  }
  
  .icon-icon_tab_contact_on:before {
    content: "\e690";
  }
  
  .icon-qunliao:before {
    content: "\e62c";
  }
  
  .icon-a-Addfriends:before {
    content: "\e73d";
  }
  
  .icon-message_light:before {
    content: "\e7db";
  }
  
  .icon-navicon-suggest:before {
    content: "\e6c2";
  }
  
  .icon-yuyin:before {
    content: "\e614";
  }
  
  .icon-cut:before {
    content: "\e61c";
  }
  
  .icon-biaoqing:before {
    content: "\e644";
  }
  
  .icon-zhaopian:before {
    content: "\e62b";
  }
  
  .icon-dianhua:before {
    content: "\e817";
  }
  
  .icon-Icon-line-more:before {
    content: "\e7ec";
  }
  
  .icon-xiaoxi:before {
    content: "\e760";
  }
  
  .icon-mn_pengyou_fill:before {
    content: "\e601";
  }
  
  .icon-Friends:before {
    content: "\e683";
  }
  
  .icon-chat:before {
    content: "\e69a";
  }
  
  .icon-minus:before {
    content: "\e7fd";
  }
  
  .icon-close:before {
    content: "\e6dc";
  }
  
  .icon-zuidahua:before {
    content: "\e600";
  }
  
  .icon-zuixiaohua:before {
    content: "\e772";
  }
  